.file-preview-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--c--globals--spacings--sm);
  height: 100%;

  &__title {
    color: var(--c--contextuals--content--semantic--error--primary);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }

  &__description {
    color: var(--c--contextuals--content--semantic--neutral--secondary);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  &__download-button {
    margin-top: var(--c--globals--spacings--xs);
  }
}
