@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "theme", "breakpoints", "tablet");

.c__feedback {
  &__button {
    color: var(--c--theme--colors--info-600);
    background-color: var(--c--theme--colors--info-100);

    &:hover {
      color: var(--c--theme--colors--info-600);
      background-color: var(--c--theme--colors--info-200);
    }

    &:active {
      color: var(--c--theme--colors--info-800);
      background-color: var(--c--theme--colors--info-200);
    }
  }

  &__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: white;
    border-top: 1px solid var(--c--theme--colors--greyscale-200);
    display: none;

    @media (max-width: $tablet) {
      display: flex;
    }
  }

  &__modal {
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &__button {
      display: flex;
      padding: 20px;
      border-radius: 4px;
      border: 1px solid var(--c--theme--colors--greyscale-100);
      color: var(--c--theme--colors--greyscale-600);
      gap: 20px;
      text-decoration: none;
      align-items: center;

      &__title {
        font-weight: 700;
        font-size: 14px;
      }

      &__description {
        font-size: 14px;
        font-weight: 400;
      }

      &:hover {
        border-color: #b6d7fb;
        background-color: #e7f2fd;
        color: var(--c--theme--colors--info-600);
      }
    }
  }
}

/**
 * This is made to avoid having the feedback footer to hide the content.
 * To remove when the feedback footer is removed.
 */
.drive__home--feedback,
.c__main-layout__content__center__children {
  padding-bottom: 57px;
}
