.suite-preview-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.controls-vertical-separator {
  height: 24px;
  width: 1px;
  background-color: var(--c--contextuals--border--surface--primary);
}
