.modal__move {
  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--c--globals--spacings--sm);
  }

  &__title {
    font-size: var(--c--globals--font--sizes--h6);
    font-weight: 700;
    color: var(--c--contextuals--content--semantic--neutral--primary);
  }
  &__description {
    font-size: var(--c--globals--font--sizes--body-small);
    color: var(--c--contextuals--content--semantic--neutral--secondary);
    font-weight: 400;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--c--globals--spacings--base);
    padding: 0 var(--c--globals--spacings--base);
    padding-bottom: var(--c--globals--spacings--base);
  }

  &__explorer {
    overflow-y: auto;

    .embedded-explorer__container {
      padding: 0 var(--c--globals--spacings--md);
    }
  }
}

.add-folder-icon {
  color: var(--c--contextuals--content--semantic--brand--tertiary);
}

.move-to-root-button {
  margin-left: var(--c--globals--spacings--xs);
}
