.modal__move {
  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--c--theme--spacings--sm);
  }

  &__title {
    font-size: var(--c--theme--font--sizes--h6);
    font-weight: 700;
    color: var(--c--theme--colors--greyscale-1000);
  }
  &__description {
    font-size: var(--c--theme--font--sizes--body-small);
    color: var(--c--theme--colors--greyscale-600);
    font-weight: 400;
  }

  &__content {
    height: 100%;

    @media (min-width: 1024px) {
      height: 300px;
    }

    display: flex;
    flex-direction: column;
    padding: 0 var(--c--theme--spacings--md);

    &__container {
      display: flex;
      height: 100%;

      flex-direction: column;
      gap: var(--c--theme--spacings--xs);
      flex: 1;
    }

    .c__datagrid__row__cell--actions {
      .droppable {
        justify-content: flex-start;
        padding: 40%;
      }
    }

    td:has(.explorer__grid__item__name) {
      padding-left: var(--c--theme--spacings--2xs);
    }
  }

  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
  }

  &__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--c--theme--spacings--base);
    padding: 0 var(--c--theme--spacings--base);
    padding-bottom: var(--c--theme--spacings--base);
  }

  &__breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
  }
}
