.workspace-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--c--contextuals--background--palette--brand--primary);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.item-icon {
  &.small {
    width: 18px;
    height: 18px;
  }

  &.medium {
    width: 24px;
    height: 24px;
  }

  &.large {
    width: 48px;
    height: 48px;
  }

  &.xlarge {
    width: 64px;
    height: 64px;
  }
}
