.file-preview-unsupported {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--c--theme--spacings--xs);

  &__title {
    color: var(--c--theme--colors--greyscale-800);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }

  &__description {
    color: var(--c--theme--colors--greyscale-600);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
  }

  &__download-button {
    margin-top: var(--c--theme--spacings--md);
  }
}
