@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "theme", "breakpoints", "tablet");

.explorer__grid__items__explorer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    height: 300px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--c--theme--spacings--xs);
    flex: 1;
  }

  &__breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
  }

  &__empty {
    color: var(--c--theme--colors--greyscale-800);
    font-weight: var(--c--theme--font--weights--regular);
    font-size: var(--c--theme--font--sizes--m);
  }

  &--compact {
    td:has(.explorer__grid__item__name) {
      padding-left: var(--c--theme--spacings--2xs);
    }

    .c__datagrid__row__cell--actions {
      .droppable {
        justify-content: flex-start;
      }
    }

    .explorer__grid {
      flex-grow: 1;
    }

    .c__datagrid {
      min-height: auto;
    }
  }
}
