@use "@gouvfr-lasuite/ui-kit/sass/fonts";
@use "@gouvfr-lasuite/ui-kit/style";
@use "./cunningham-tokens.css";
@use "./../features/layouts/components/global/GlobalLayout.scss";
@use "./../features/layouts/components/explorer/ExplorerLayout.scss";
@use "./../features/explorer/components/app-view/AppExplorer.scss";
@use "./../features/explorer/components/app-view/ExplorerFilters.scss";
@use "./../features/explorer/components/embedded-explorer/EmbeddedExplorer.scss";
@use "./../features/feedback/Feedback.scss";
@use "./../features/explorer/components/right-panel/ExplorerRightPanel.scss";
@use "./../features/explorer/components/modals/move/ExplorerMoveFolderModal.scss";
@use "./../features/explorer/components/modals/search/ExplorerSearchModal.scss";
@use "./../features/layouts/components/header/index.scss";
@use "./../features/ui/components/breadcrumbs";
@use "./../features/ui/components/toaster";
@use "./../features/ui/components/generic-disclaimer/GenericDisclaimer.scss";
@use "./../features/explorer/components/tree/ExplorerTree.scss";
@use "./../features/ui/components/info/InfoRow.scss";
@use "./../features/ui/components/responsive";
@use "./../features/ui/preview/preview.scss";
@use "./../features/items/components/ItemInfo.scss";
@use "./../features/explorer/components/icons/ItemIcon.scss";
@use "./../features/ui/components/spinner/SpinnerPage.scss";
@use "./../features/layouts/components/left-panel/LeftPanelMobile.scss";
@use "./../pages/index.scss" as *;
@use "./../pages/sdk/index.scss" as *;
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

// Related to @viselect/react
.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 2px solid rgba(98, 155, 255, 0.81);
  border-radius: 0.1em;

  &__container {
    user-select: none;
  }
}

.p-2xs {
  padding: var(--c--globals--spacings--2xs);
}

.p-xs {
  padding: var(--c--globals--spacings--xs);
}

.p-sm {
  padding: var(--c--globals--spacings--sm);
}

.p-md {
  padding: var(--c--globals--spacings--md);
}

.p-base {
  padding: var(--c--globals--spacings--base);
}

.lasuite-gaufre-btn--vanilla:before {
  background-color: var(
    --c--contextuals--background--semantic--brand--primary
  ) !important;
}

.c__left-panel {
  border-right: none;
}
