@use "sass:map";
@use "@/styles/cunningham-tokens-sass" as *;

$tablet: map.get($themes, "default", "globals", "breakpoints", "tablet");

.explorer {
  display: flex;
  min-height: calc(100vh - 52px);

  justify-content: center;
  align-items: flex-start;
  position: relative;

  &--app {
    padding: 16px;
    background-color: var(--c--contextuals--background--surface--tertiary);

    @media (max-width: $tablet) {
      padding: 0;
      background-color: var(--c--contextuals--background--surface--tertiary);
    }

    .explorer__container {
      width: 992px;
    }

    .explorer__content {
      border: 1px var(--c--contextuals--border--surface--primary) solid;

      @media (max-width: $tablet) {
        border: none;
        padding: 5px;
      }

      &__breadcrumbs {
        @media (max-width: $tablet) {
          display: none;
        }
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @media (max-width: $tablet) {
      gap: 0;
    }
  }

  &__filters {
    height: 32px;
    display: flex;
    align-items: center;

    @media (max-width: $tablet) {
      padding: 8px;
      height: auto;
      background-color: var(--c--contextuals--background--surface--secondary);
    }
  }

  &--drop-zone--drag-accept {
    .explorer__content {
      background-color: var(
        --c--contextuals--background--semantic--brand--tertiary
      );
      box-shadow: var(--c--contextuals--border--semantic--brand--primary) 0 0 0
        3px inset;
      border-radius: 2px;

      table {
        tbody {
          background-color: var(
            --c--contextuals--background--semantic--brand--tertiary
          );
        }
      }
    }
  }

  &__content {
    flex: 1;
    background-color: var(--c--contextuals--background--surface--secondary);

    border-radius: 4px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: content-box;
    transition:
      background-color 0.3s ease,
      box-shadow 0.3s ease;

    &__breadcrumbs {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__actions {
        padding-right: 6px;
      }

      &--mobile {
        display: none;
        padding: 0 12px;
        border-bottom: 1px solid var(--c--contextuals--border--surface--primary);
        border-top: 2px solid
          var(--c--contextuals--border--semantic--brand--primary);

        background: var(--c--contextuals--background--surface--secondary);
        align-items: center;
        height: 64px;

        @media (max-width: $tablet) {
          display: flex;
        }

        &__container {
          display: flex;
          gap: 12px;
          overflow: hidden;

          &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            &__title {
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              color: var(
                --c--contextuals--content--semantic--neutral--secondary
              );
              display: flex;
              align-items: center;
              gap: 6px;

              span {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
              }
            }

            &__folder {
              font-size: 16px;
              line-height: 18px;
              font-weight: 600;
              color: var(--c--contextuals--content--semantic--neutral--primary);
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }
        }

        &__workspace {
          font-size: 16px;
          font-weight: 600;
          color: var(--c--contextuals--content--semantic--neutral--primary);
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 0 8px;
          overflow: hidden;

          span {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }

    &__header {
      &__title {
        font-size: 22px;
        font-weight: 700;
        color: var(--c--contextuals--content--semantic--neutral--primary);
        padding-left: 6px;
      }

      &__description {
        font-size: 12px;
        font-weight: 400;
        color: var(--c--contextuals--content--semantic--neutral--secondary);
      }
    }
  }

  &__selection-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    padding: 0 8px;
    background-color: var(
      --c--contextuals--background--semantic--brand--tertiary
    );
    border: 1px solid var(--c--contextuals--border--semantic--brand--tertiary);
    border-radius: 4px;

    &__left {
      display: flex;
      gap: 16px;
      align-items: center;
    }

    &__actions {
      display: flex;
      gap: 4px;
      align-items: center;
    }

    &__caption {
      font-size: 14px;
      font-weight: 500;
      color: var(--c--contextuals--content--semantic--brand--primary);
    }
  }

  &__drag-overlay {
    cursor: grabbing;
    padding: var(--c--globals--spacings--3xs, 4px)
      calc(var(--c--globals--spacings--2xs, 6px) + 10px);
    background-color: var(
      --c--contextuals--background--semantic--brand--primary
    );
    border-radius: 12px;
    color: var(--c--contextuals--content--semantic--brand--on-brand, #fff);
    font-weight: 700;
    font-size: 11px;
    width: fit-content;
  }
}

.file-upload-toast {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {
    padding: 8px !important;
  }

  &__files {
    background-color: var(--c--contextuals--background--surface--secondary);
    padding: 4px 12px;
    border-radius: 4px;
    border: 1px solid var(--c--contextuals--border--semantic--brand--tertiary);
    overflow-y: auto;
    margin-bottom: 8px;
    transition: all 0.2s ease-in-out;
    max-height: 250px;

    &--closed {
      margin-bottom: 0;
      max-height: 0;
      padding: 0 12px;
      opacity: 0;
    }

    &__item {
      font-size: 14px;
      color: var(--c--contextuals--content--semantic--neutral--primary);
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      height: 40px;
      align-items: center;

      &__size {
        font-size: 14px;
        font-weight: 400;
        color: var(--c--contextuals--content--semantic--neutral--tertiary);
      }

      &__name {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__description {
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 8px 0 8px;
    justify-content: space-between;

    &__text {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

@media (max-width: $tablet) {
  .explorer-app {
    background-color: var(--c--contextuals--background--surface--tertiary);

    &__content {
      border: none;
      padding: 0 8px;

      table {
        tr td:first-child,
        tr th:first-child {
          padding-left: 0;
        }

        tr td:last-child,
        tr th:last-child {
          padding-right: 0;
        }

        thead {
          // We can't just simply hide the columns because the table
          // column will not size properly. We want the first column
          // to grow to fill the space.
          th {
            height: 0;
          }

          th:nth-child(1) {
            display: table-cell;
          }

          th:nth-child(2),
          th:nth-child(3) {
            display: none;
          }

          th:nth-child(4) {
            display: table-cell;
            width: 40px;
          }
        }

        tbody {
          td:nth-child(1) {
            display: table-cell;
          }

          td:nth-child(2),
          td:nth-child(3) {
            display: none;
          }

          td:nth-child(4) {
            height: 48px;
          }
        }
      }
    }
  }
}
